name: Deploy to GAS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install CLASP
        run: npm install @google/clasp -g

      # Tạo file cấu hình dự án
      - name: Create .clasp.json
        run: |
          echo '{"scriptId":"${{ secrets.SCRIPT_ID }}","rootDir":"./"}' > .clasp.json

      # Tạo file đăng nhập từ Secret (Cách này ổn định nhất)
      - name: Create .clasprc.json
        run: |
          echo '${{ secrets.CLASP_SECRET }}' > ~/.clasprc.json

      - name: Push to GAS
        run: clasp push -f